.complete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-bottom: 5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.button{
   background-color: royalblue; 
   border: 1px solid royalblue;
   color: white;
   padding: 10px 20px;
   border-radius: 3px;
   cursor: pointer;
  
}

.naira{
    display: flex;
    justify-content: end;
}