.purchase{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    color: black;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 2.5rem;
    padding-right: 3.5rem;
}

.purchase div {
    justify-content: space-between;
    padding: 6px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}